Source: rocket-init-scripts
Section: admin
Priority: extra
Maintainer: Jo Shields <directhex@apebox.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/steamos-community

Package: rocket-init-scripts
Architecture: all
Depends: ${misc:Depends}, 
 nvidia-driver,
 nvidia-legacy-340xx-driver,
 fglrx-modules-dkms,
 steamos-base-files (>= 2.37)
Description: Init script modifications for Stephenson's Rocket
 This package contains files specific to Stephenson's Rocket, and alter boot
 behaviour compared to SteamOS.
